*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(57, 184, 234);
}
.main{
    width:80%;
    height:300px;
    margin: 200px auto;
    display: flex;
    justify-content: space-between;
}
.display{
    background-color: navy;
    width:20%;
    height:200px;
    margin: auto 0px;
    border-radius: 10px;
    color:white;
    text-align: center;
    font-size: 80px;
    padding-top: 30px;
}